<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>注册/登录</title>
    <link rel="stylesheet" href="../public/css/login.css">
</head>
<body>
    <div class="content">
        <form action="" method="post">
            <label for="">姓名：</label>
            <input type="text" id="text1" name="name"><br>
            <label for="">昵称：</label>
            <input type="text" id="text2"><br>
            <input type="submit" value="提交" id="btn">
            <input type="reset" value="取消" id="reset">
        </form>
    </div>
</body>
</html>