@charset "utf-8";
* {
  padding: 0;
  margin: 0;
}
body {
  font-family: 'Microsoft YaHei';
}
.user_list {
  position: absolute;
  top: 5px;
  bottom: 5px;
  width: 200px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-shadow: 0 0 10px #000 ;
  -moz-box-shadow: 0 0 10px #000 ;
  box-shadow: 0 0 10px #000 ;
  background: #18d0b5;
  overflow: hidden;
}
.user_list h3 {
  height: 30px;
  line-height: 30px;
  text-align: center;
  background: #ad10ff;
}
.user_list .list {
  margin-top: 15px;
}
.user_list .list li {
  list-style-type: none;
  padding-left: 25px;
  font-size: 14px;
  line-height: 25px;
  border-bottom: 1px dashed #000;
}
.user_list .list li.active {
  background: #ed0aff;
}
.main {
  position: absolute;
  top: 5px;
  left: 205px;
  right: 0;
  bottom: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-shadow: 0 0 10px #000 ;
  -moz-box-shadow: 0 0 10px #000 ;
  box-shadow: 0 0 10px #000 ;
  background: #333;
  overflow: hidden;
}
.main .content {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 160px;
  padding: 20px;
  background-color: #cccccc;
  font-size: 13px;
  overflow: auto;
}
.main .content div {
  line-height: 15px;
  margin-bottom: 5px;
}
.main .input_box {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: 130px;
  padding: 10px;
  background: #c59ca0;
}
.main .input_box .input {
  width: 90%;
  height: 100px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  box-sizing: border-box;
  padding: 5px;
  background: #aec5ad;
}
.main .input_box #sayingto {
  display: block;
  width: 90%;
  height: 20px;
  padding: 10px;
}
.main .input_box #sayingto #from {
  color: #ad10ff;
  font-weight: bold;
}
.main .input_box #sayingto #to {
  color: #ff0f05;
  font-weight: bold;
}
.main .input_box .send {
  position: absolute;
  top: 10px;
  right: 3%;
  width: 80px;
  height: 99px;
  line-height: 30px;
  font-size: 30px;
  text-align: center;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-shadow: 0 0 5px #000;
  -moz-box-shadow: 0 0 5px #000;
  box-shadow: 0 0 5px #000;
}
